src/main/resources/import/ntrf/NTRF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    DTD for Nordic Terminological Record Format (NTRF)
    
    This DTD is an translation of NTRF standard to XML format.
    
    for more information about NTRF and element descriptions look
    http://www.nordterm.net/filer/NTRF/Ntrf.pdf
    
    This DTD tries to follow the spirit of the original NTRF as much
    as possible but there are some exceptions as the use of the LANG
    element which is influenced by the MARTIF standard.
    In this DTD there are also some TSK specific elements that are not
    part of the NTRF standard
    
-->
<!-- Define languages here -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="languages">
        <xs:restriction base="xs:token">
            <xs:enumeration value="af"/>
            <xs:enumeration value="am"/>
            <xs:enumeration value="ar"/>
            <xs:enumeration value="as"/>
            <xs:enumeration value="az"/>
            <xs:enumeration value="be"/>
            <xs:enumeration value="bg"/>
            <xs:enumeration value="bn"/>
            <xs:enumeration value="br"/>
            <xs:enumeration value="bs"/>
            <xs:enumeration value="ca"/>
            <xs:enumeration value="cs"/>
            <xs:enumeration value="da"/>
            <xs:enumeration value="de"/>
            <xs:enumeration value="el"/>
            <xs:enumeration value="en"/>
            <xs:enumeration value="es"/>
            <xs:enumeration value="et"/>
            <xs:enumeration value="eu"/>
            <xs:enumeration value="fa"/>
            <xs:enumeration value="fi"/>
            <xs:enumeration value="fo"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="gl"/>
            <xs:enumeration value="gu"/>
            <xs:enumeration value="ha"/>
            <xs:enumeration value="he"/>
            <xs:enumeration value="hi"/>
            <xs:enumeration value="hr"/>
            <xs:enumeration value="hu"/>
            <xs:enumeration value="hy"/>
            <xs:enumeration value="id"/>
            <xs:enumeration value="ig"/>
            <xs:enumeration value="is"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="ja"/>
            <xs:enumeration value="ka"/>
            <xs:enumeration value="kk"/>
            <xs:enumeration value="km"/>
            <xs:enumeration value="kn"/>
            <xs:enumeration value="ks"/>
            <xs:enumeration value="ky"/>
            <xs:enumeration value="la"/>
            <xs:enumeration value="ln"/>
            <xs:enumeration value="lt"/>
            <xs:enumeration value="lv"/>
            <xs:enumeration value="mk"/>
            <xs:enumeration value="ml"/>
            <xs:enumeration value="mn"/>
            <xs:enumeration value="mr"/>
            <xs:enumeration value="ms"/>
            <xs:enumeration value="nl"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="or"/>
            <xs:enumeration value="pa"/>
            <xs:enumeration value="pl"/>
            <xs:enumeration value="ps"/>
            <xs:enumeration value="pt"/>
            <xs:enumeration value="pt-br"/>
            <xs:enumeration value="pt-pt"/>
            <xs:enumeration value="ro"/>
            <xs:enumeration value="ru"/>
            <xs:enumeration value="si"/>
            <xs:enumeration value="sk"/>
            <xs:enumeration value="sl"/>
            <xs:enumeration value="sq"/>
            <xs:enumeration value="sr"/>
            <xs:enumeration value="st"/>
            <xs:enumeration value="sv"/>
            <xs:enumeration value="sw"/>
            <xs:enumeration value="ta"/>
            <xs:enumeration value="te"/>
            <xs:enumeration value="tg"/>
            <xs:enumeration value="th"/>
            <xs:enumeration value="tk"/>
            <xs:enumeration value="tl"/>
            <xs:enumeration value="tr"/>
            <xs:enumeration value="uk"/>
            <xs:enumeration value="ur"/>
            <xs:enumeration value="uz"/>
            <xs:enumeration value="vi"/>
            <xs:enumeration value="xh"/>
            <xs:enumeration value="yo"/>
            <xs:enumeration value="zc"/>
            <xs:enumeration value="zh"/>
            <xs:enumeration value="zt"/>
            <xs:enumeration value="zu"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Comfort entity for the RECORD element -->
    <xs:group name="admin">
        <xs:sequence>
            <xs:element minOccurs="0" ref="TIT"/>
            <xs:element minOccurs="0" ref="RELIA"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="SOURC"/>
            <xs:element minOccurs="0" ref="INST"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="CLAS"/>
            <xs:element minOccurs="0" ref="CLASPEC"/>
            <xs:element minOccurs="0" ref="CLASYS"/>
            <xs:element minOccurs="0" ref="CRDAT"/>
            <xs:element minOccurs="0" ref="CRBY"/>
            <xs:element minOccurs="0" ref="CREA"/>
            <xs:element minOccurs="0" ref="UPDAT"/>
            <xs:element minOccurs="0" ref="UPBY"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="UPDA"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="CHDAT"/>
            <xs:element minOccurs="0" ref="CHBY"/>
            <xs:element minOccurs="0" ref="CHECK"/>
            <xs:element minOccurs="0" ref="APDAT"/>
            <xs:element minOccurs="0" ref="APBY"/>
            <xs:element minOccurs="0" ref="APPR"/>
        </xs:sequence>
    </xs:group>
    <!-- html elements allowed for styling mainly in definition, note, context and explanation elements -->
    <xs:element name="styling" abstract="true"/>
    <!-- The main element -->
    <xs:element name="VOCABULARY">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="HEADER"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element minOccurs="0" ref="RECORD"/>
                    <xs:element minOccurs="0" ref="HEAD"/>
                    <xs:element minOccurs="0" ref="DIAG"/>
                    <xs:element minOccurs="0" ref="PICT"/>
                    <xs:element minOccurs="0" ref="P"/>
                    <xs:element minOccurs="0" ref="COMM"/>
                    <xs:element minOccurs="0" ref="REMK"/>
                </xs:sequence>
                <xs:element minOccurs="0" ref="REFERENCES"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Each RECORD element contain one terminological concept -->
    <xs:element name="RECORD">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="NUMB"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="POSI"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SUBJ"/>
                <xs:element minOccurs="0" ref="GRAM"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="LANG"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="BCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="NCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="RCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ECON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ILLU"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="REMK"/>
                <xs:group ref="admin"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="COMM"/>
                <xs:element minOccurs="0" ref="DEVREC"/>
            </xs:sequence>
            <xs:attribute name="numb" use="required" type="xs:ID"/>
            <xs:attribute name="stat"/>
            <xs:attribute name="upda"/>
            <xs:attribute name="type"/>
        </xs:complexType>
    </xs:element>
    <!-- Each DEVREC element contains development version of the parent concept -->
    <xs:element name="DEVREC">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="NUMB"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="POSI"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SUBJ"/>
                <xs:element minOccurs="0" ref="GRAM"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="LANG"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="BCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="NCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="RCON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ECON"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ILLU"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="REMK"/>
                <xs:group ref="admin"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="COMM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Language elements contain the language specific data -->
    <xs:element name="LANG">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="TE"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SY"/>
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="DTE"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="DTEA"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="DTEB"/>
                </xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="EXTE"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="DES"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ACRO"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="RCON"/>
                <xs:choice>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="DEF"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="EXPLAN"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="NOTE"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="EXAMP"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="CX"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="STE"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ASTE"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="REMK"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SOURC"/>
                <xs:element minOccurs="0" ref="APDAT"/>
            </xs:sequence>
            <xs:attribute name="value" use="required" type="languages"/>
        </xs:complexType>
    </xs:element>
    <!-- Entity for term element content -->
    <xs:complexType name="termcontent">
        <xs:sequence>
            <xs:element minOccurs="0" ref="EQUI"/>
            <xs:element ref="TERM"/>
            <xs:element minOccurs="0" ref="HOGR"/>
            <xs:element minOccurs="0" ref="GEOG"/>
            <xs:element minOccurs="0" ref="TYPT"/>
            <xs:element minOccurs="0" ref="PHR"/>
            <xs:element minOccurs="0" ref="PRON"/>
            <xs:element minOccurs="0" ref="ETYM"/>
            <xs:element minOccurs="0" ref="SUBJ"/>
            <xs:element minOccurs="0" ref="SCOPE"/>
            <xs:element minOccurs="0" ref="SOURF"/>
            <xs:element minOccurs="0" ref="STAT"/>
            <xs:element minOccurs="0" ref="ADD"/>
            <xs:element minOccurs="0" ref="REMK"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Primary term(s) in each language. Normally there should be only one TE field for each language in each record. -->
    <xs:element name="TE">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="termcontent">
                    <xs:attribute name="stat"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- Synonym term : Term designating the concept, but not regarded as the primary term. There may be one or more SY fields only if there is a TE field in the same language. -->
    <xs:element name="SY">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="termcontent">
                    <xs:attribute name="stat"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- Deprecated term : Term designating the concept, but which for some reason should not be used. The reason should preferably be given in a TYPT or a ADD field -->
    <xs:element name="DTE">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="termcontent">
                    <xs:attribute name="stat"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- Deprecated term : Loose DTE field, used in TSK to designate terms that are not good, but can be used if necessary, "rather than". Can't be used in conjunction with DTE field. -->
    <xs:element name="DTEA">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="termcontent">
                    <xs:attribute name="stat"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- Deprecated term : Strict DTE field, used in TSK to only to designate terms that should not be used in any case, "not". Can't be used in conjunction with DTE field. -->
    <xs:element name="DTEB">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="termcontent">
                    <xs:attribute name="stat"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!-- Excerpted term : Contextual term which is not yet evaluated as primary term, synonym or deprecated term. -->
    <xs:element name="EXTE" type="termcontent"/>
    <!-- Designation : Designation of the concept which is not regarded as a term, and which normally will be language independent. -->
    <xs:element name="DES" type="termcontent"/>
    <!-- acronym : Acronym, in particular for a name. -->
    <xs:element name="ACRO" type="termcontent"/>
    <!-- search term, look-up term : Term not designating the concept, but which may be useful for search or reference purposes. -->
    <xs:element name="STE">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="termcontent">
                    <xs:attribute name="stat"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!--  auxciliary subordinate concept, used in TSK only for graphml diagrams to indicate auxciliary subordinate term -->
    <xs:element name="ASTE" type="termcontent"/>
    <!-- TERM element contains the actual term string. GRAM element shows grammatical data for a certain word in the term -->
    <xs:element name="TERM">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="GRAM"/>
                <xs:element ref="SUB"/>
                <xs:element ref="SUP"/>
                <xs:element ref="POS"/>
                <xs:element ref="GEND"/>
                <xs:element ref="INFL"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- definition : Text in this field should conform with the rules of proper definitions. -->
    <xs:element name="DEF">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="BCON"/>
                <xs:element ref="NCON"/>
                <xs:element ref="SCON"/>
                <xs:element ref="RCON"/>
                <xs:element ref="ECON"/>
                <xs:element ref="SOURF"/>
                <xs:element ref="STAT"/>
                <xs:element ref="ADD"/>
                <xs:element ref="REMK"/>
                <xs:element ref="styling"/>
                <xs:element ref="LINK"/>
                <xs:element ref="HOGR"/>
                <xs:element ref="FORMULA"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- explanation : Explanatory text which does not conform with the rules of proper definitions. -->
    <xs:element name="EXPLAN">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="BCON"/>
                <xs:element ref="NCON"/>
                <xs:element ref="SCON"/>
                <xs:element ref="RCON"/>
                <xs:element ref="ECON"/>
                <xs:element ref="SOURF"/>
                <xs:element ref="STAT"/>
                <xs:element ref="ADD"/>
                <xs:element ref="REMK"/>
                <xs:element ref="styling"/>
                <xs:element ref="LINK"/>
                <xs:element ref="HOGR"/>
                <xs:element ref="FORMULA"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- note : Additional information about the concept. -->
    <xs:element name="NOTE">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="BCON"/>
                <xs:element ref="NCON"/>
                <xs:element ref="SCON"/>
                <xs:element ref="RCON"/>
                <xs:element ref="ECON"/>
                <xs:element ref="SOURF"/>
                <xs:element ref="STAT"/>
                <xs:element ref="ADD"/>
                <xs:element ref="REMK"/>
                <xs:element ref="styling"/>
                <xs:element ref="LINK"/>
                <xs:element ref="HOGR"/>
                <xs:element ref="ILLU"/>
                <xs:element ref="FORMULA"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- example : Example information connected to the concept. -->
    <xs:element name="EXAMP">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="BCON"/>
                <xs:element ref="NCON"/>
                <xs:element ref="SCON"/>
                <xs:element ref="RCON"/>
                <xs:element ref="ECON"/>
                <xs:element ref="SOURF"/>
                <xs:element ref="STAT"/>
                <xs:element ref="ADD"/>
                <xs:element ref="REMK"/>
                <xs:element ref="styling"/>
                <xs:element ref="LINK"/>
                <xs:element ref="HOGR"/>
                <xs:element ref="EXNO"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- context : Authentic context from running text. -->
    <xs:element name="CX">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="BCON"/>
                <xs:element ref="NCON"/>
                <xs:element ref="SCON"/>
                <xs:element ref="RCON"/>
                <xs:element ref="ECON"/>
                <xs:element ref="SOURF"/>
                <xs:element ref="STAT"/>
                <xs:element ref="ADD"/>
                <xs:element ref="REMK"/>
                <xs:element ref="styling"/>
                <xs:element ref="LINK"/>
                <xs:element ref="HOGR"/>
                <xs:element ref="EXNO"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- boarder concept : Term designating a broader concept. eg. superordinate concept, subclass-of relation -->
    <xs:element name="BCON">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="HOGR"/>
            </xs:sequence>
            <xs:attribute name="typr" default="generic">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="generic"/>
                        <xs:enumeration value="partitive"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="stat">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="no-diag"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="href" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- narrower concept : Term designating a narrower concept. eg. subordinate concept -->
    <xs:element name="NCON">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="HOGR"/>
            </xs:sequence>
            <xs:attribute name="typr" default="generic">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="generic"/>
                        <xs:enumeration value="partitive"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="stat">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="no-diag"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="href" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SCON">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="HOGR"/>
            </xs:sequence>
            <xs:attribute name="typr"/>
            <xs:attribute name="href" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- related concept : Term designating a related concept. eg. associative concept -->
    <xs:element name="RCON">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="HOGR"/>
            </xs:sequence>
            <xs:attribute name="typr"/>
            <xs:attribute name="stat">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="no-diag"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="href" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ECON">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="HOGR"/>
            </xs:sequence>
            <xs:attribute name="typr"/>
            <xs:attribute name="href" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- link : link to another concept or web, does not indicate any relation type -->
    <xs:element name="LINK">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="HOGR"/>
            </xs:sequence>
            <xs:attribute name="typr"/>
            <xs:attribute name="href" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- heading element : used for print publication -->
    <xs:element name="HEAD">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="BR"/>
            </xs:sequence>
            <xs:attribute name="level" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lang">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="sv"/>
                        <xs:enumeration value="en"/>
                        <xs:enumeration value="fi"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="NUMB" type="xs:string"/>
    <!-- position : may be used to indicate position in systematic  arrangement. eg 1,2,3 or 1.1, 1.2, 1.3, 2.1, 2.2 -->
    <xs:element name="POSI" type="xs:string"/>
    <xs:element name="TIT" type="xs:string"/>
    <xs:element name="RELIA">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="styling"/>
                <xs:element ref="REMK"/>
                <xs:element ref="ADD"/>
                <xs:element ref="LINK"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="SOURC">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="styling"/>
                <xs:element ref="REMK"/>
                <xs:element ref="ADD"/>
                <xs:element ref="LINK"/>
            </xs:choice>
            <xs:attribute name="lang" type="languages"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INST" type="xs:string"/>
    <xs:element name="CRDAT" type="xs:string"/>
    <xs:element name="CRBY" type="xs:string"/>
    <xs:element name="CREA" type="xs:string"/>
    <xs:element name="UPDAT" type="xs:string"/>
    <xs:element name="UPBY" type="xs:string"/>
    <xs:element name="UPDA" type="xs:string"/>
    <xs:element name="CHDAT" type="xs:string"/>
    <xs:element name="CHBY" type="xs:string"/>
    <xs:element name="CHECK" type="xs:string"/>
    <xs:element name="APDAT" type="xs:string"/>
    <xs:element name="APBY" type="xs:string"/>
    <xs:element name="APPR" type="xs:string"/>
    <xs:element name="CLAS">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="LINK"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CLASPEC" type="xs:string"/>
    <xs:element name="CLASYS" type="xs:string"/>
    <!-- grammatical  information : Information  about  part  of  speech,  gender. eg. adj (for adjective) -->
    <xs:element name="GRAM">
        <xs:complexType mixed="true">
            <xs:attribute name="value"/>
            <xs:attribute name="gend">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="m"/>
                        <xs:enumeration value="n"/>
                        <xs:enumeration value="f"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="pos"/>
            <xs:attribute name="infl"/>
            <xs:attribute name="synt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="POS" type="xs:string"/>
    <!-- gender : Information about gender of a noun, eg. f, m, n -->
    <xs:element name="GEND" type="xs:string"/>
    <xs:element name="INFL" type="xs:string"/>
    <xs:element name="SYNT" type="xs:string"/>
    <xs:element name="PRON" type="xs:string"/>
    <xs:element name="PHR" type="xs:string"/>
    <xs:element name="ETYM" type="xs:string"/>
    <!-- geographical  area  of  use : Information  about  the  geographical  area in which a designation is used. eg GB for British English -->
    <xs:element name="GEOG" type="xs:string"/>
    <xs:element name="TYPT" type="xs:string"/>
    <!-- homograph  number : A number for identifying the term among other terms with identical written form. -->
    <xs:element name="HOGR" type="xs:string"/>
    <!-- equivalence :  Note  on  the  equivalence  between  terms  in  different  languages. -->
    <xs:element name="EQUI">
        <xs:complexType mixed="true">
            <xs:attribute name="value" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="broader"/>
                        <xs:enumeration value="narrower"/>
                        <xs:enumeration value="near-equivalent"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="SUBJ">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ADD"/>
                <xs:element ref="REMK"/>
                <xs:element ref="LINK"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="SCOPE">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ADD"/>
                <xs:element ref="REMK"/>
                <xs:element ref="LINK"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- source of field : Identification of the source from which a particular field has been derived. -->
    <xs:element name="SOURF">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="LINK"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="STAT" type="xs:string"/>
    <xs:element name="EXNO" type="xs:string"/>
    <xs:element name="ADD" type="xs:string"/>
    <xs:element name="REMK">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="styling"/>
                <xs:element ref="LINK"/>
                <xs:element ref="SOURF"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- for inserting review comments -->
    <xs:element name="COMM">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="styling"/>
                <xs:element ref="LINK"/>
                <xs:element ref="SOURF"/>
                <xs:element ref="REMK"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="ILLU">
        <xs:complexType mixed="true">
            <xs:attribute name="href" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- For inserting diagrams and pictures between records in the publication -->
    <xs:element name="DIAG">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ILLT"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="LINK"/>
            </xs:sequence>
            <xs:attribute name="numb" use="required" type="xs:ID"/>
            <xs:attribute name="href" use="required"/>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="lang">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="fi"/>
                        <xs:enumeration value="sv"/>
                        <xs:enumeration value="en"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="show_morphon"/>
            <xs:attribute name="width"/>
            <xs:attribute name="height"/>
            <xs:attribute name="resolution"/>
            <xs:attribute name="widthcm"/>
            <xs:attribute name="heightcm"/>
            <xs:attribute name="scale"/>
            <xs:attribute name="lock" default="false">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="PICT">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ILLT"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="LINK"/>
            </xs:sequence>
            <xs:attribute name="numb" use="required" type="xs:ID"/>
            <xs:attribute name="href" use="required"/>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="lang">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="fi"/>
                        <xs:enumeration value="sv"/>
                        <xs:enumeration value="en"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" default="jpg">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="jpg"/>
                        <xs:enumeration value="png"/>
                        <xs:enumeration value="dia"/>
                        <xs:enumeration value="dot"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="show_morphon"/>
            <xs:attribute name="width"/>
            <xs:attribute name="height"/>
            <xs:attribute name="resolution"/>
            <xs:attribute name="widthcm"/>
            <xs:attribute name="heightcm"/>
            <xs:attribute name="scale"/>
            <xs:attribute name="lock" default="false">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!-- Illustration text below the diagram or picture -->
    <xs:element name="ILLT">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="styling"/>
                <xs:element ref="REMK"/>
                <xs:element ref="SOURF"/>
                <xs:element ref="ILLU"/>
                <xs:element ref="LINK"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="P">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="styling"/>
                <xs:element ref="REMK"/>
                <xs:element ref="SOURF"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- TSK specific element for expressing mathematical formulas mainly in definitions -->
    <xs:element name="FORMULA" type="xs:string"/>
    <!-- TSK specific meta-data about the vocabulary in the beginning of the VOCABULARY element -->
    <xs:element name="HEADER">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TITLES"/>
                <xs:element minOccurs="0" ref="SERIAL"/>
                <xs:element minOccurs="0" ref="YEAR"/>
                <xs:element minOccurs="0" ref="SOURCES"/>
                <xs:element minOccurs="0" ref="WORKGROUP"/>
                <xs:element minOccurs="0" ref="FINANCIERS"/>
                <xs:element minOccurs="0" ref="COMMENTS"/>
                <xs:element minOccurs="0" ref="FOREWORD"/>
                <xs:element minOccurs="0" ref="INDEX"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="REMK"/>
            </xs:sequence>
            <xs:attribute name="trackChanges">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="exportHierarchy">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="motExportNumbTranslation">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="motExportPict">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="TITLES">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="HLANG"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SOURCES">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="SOURC"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WORKGROUP">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="MEMBER"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FINANCIERS">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ORG"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COMMENTS">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ORG"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MEMBER">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NAME"/>
                <xs:element minOccurs="0" ref="REMK"/>
                <xs:element minOccurs="0" ref="TITLE"/>
                <xs:element minOccurs="0" ref="FUNC"/>
                <xs:element minOccurs="0" ref="ORG"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FOREWORD">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="HLANG"/>
                <xs:element minOccurs="0" ref="LINK"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="INDEX">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="HLANG"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HLANG">
        <xs:complexType mixed="true">
            <xs:attribute name="lang" use="required" type="languages"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SERIAL" type="xs:string"/>
    <xs:element name="YEAR" type="xs:string"/>
    <xs:element name="NAME" type="xs:string"/>
    <xs:element name="TITLE" type="xs:string"/>
    <xs:element name="FUNC" type="xs:string"/>
    <xs:element name="ORG" type="xs:string"/>
    <!-- TSK specific references meta-data -->
    <xs:element name="REFERENCES">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="REF"/>
                <xs:element ref="REFHEAD"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="REF">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="REFNAME"/>
                <xs:element ref="REFTEXT"/>
                <xs:element ref="REFLINK"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="REFTEXT">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="REMK"/>
                <xs:element ref="B"/>
                <xs:element ref="I"/>
                <xs:element ref="BR"/>
                <xs:element ref="LINK"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="REFNAME" type="xs:string"/>
    <xs:element name="REFLINK" type="xs:string"/>
    <xs:element name="REFHEAD" type="xs:string"/>
    <!-- These are html styling elements used in vocabularies -->
    <xs:element name="B" substitutionGroup="styling" type="xs:string"/>
    <xs:element name="I" substitutionGroup="styling" type="xs:string"/>
    <xs:element name="SUB" substitutionGroup="styling" type="xs:string"/>
    <xs:element name="SUP" substitutionGroup="styling" type="xs:string"/>
    <xs:element name="BR" substitutionGroup="styling">
        <xs:complexType/>
    </xs:element>
</xs:schema>
<!-- TSK specific attributes -->
<!-- Lang attribute is for the header -->
<!-- TODO: is it possible to add stat attribute to Termcontent entity? -->
